
body {
		font-family: tahoma;
	}
h1{
		vertical-align: middle;
		color: #ffffcc;
		margin: 0px;
		padding: 0px;
		margin: 0px;
		text-align: middle;
	}	
#h101{
		height: 242px;
		background-image: url("images/GrassTopBackground.png");
	}
#h102{
		height: 18px;
		background-image: url("images/GrassBottomBackground.png");
	}	
h2   {
		color: #ffffcc;
		margin: 0px;
		padding: 0px;
		background-image: url("images/chalkboard.png");
	}
h3   {
		color: #ffffcc;
		margin-left: 30px;
		margin-right: 30px;
		padding: 0px;
		background-image: url("images/chalkboard.png");
	}	 
p	{
		margin-left: 50px;
		margin-right: 50px;	
	}
div {
		text-align: center;
	}
button{		
		float:right;
		transition-duration: 0.7s;
		border-radius: 2px;
		margin:0px;
		font-family: tahoma;
		background: transparent;
		border: none;
		color: #ffffcc;
		padding: 4px 2.5em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}
#button01{
		float:left;
	}
button:hover{
		background: white;
		color: black;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
